<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css" id="href">
    <title>Teste autocomplete</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h3 class="text-center mb-3">
                    Teste Auto Complete
                </h3>
                <div class="form-group">
                    <input type="text" id="search" class="form-control form-control-lg">
                </div>
                <div id="match-list">

                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>